doctype html
html lang="es"
  head
    meta charset="utf-8"
    title Cimbra Propieades
    meta name="description" content="Cimbra Propieades"
    meta name="keywords" content="propiedades, corretaje, departamento, casa, inmobiliario, tazaciones, compra, venta"/
    meta name="author" content="Gricel Sepúlveda y Jimena Fuentealba"
    /! VIEWPORT RESPONSIVE
    meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/
    /! NORMALIZE
    link rel="stylesheet" href="assets/styles/normalize.min.css" type="text/css" 
    /! STYLES 
    link rel="stylesheet" href="assets/styles/cm-styles.min.css" type="text/css"
    /! JQUERY
    script src="js/jquery-3.3.1.min.js" type="text/javascript"
    /! SCRIPTS
    script src="js/cm-scripts.min.js"
    /! LIVERELOAD
    script src="http://localhost:35729/livereload.js"
    /! FONTAWESOME
    link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"

  body
    /! MAIN NAVBAR
    nav.cm-main-nav
      img src="../assets/img/logo-cimbra.svg" alt="cimbra logo"
      .cm-nav-wrapper.flex.col.end
        ul.cm-social-nav.flex.row.end 
          li.cm-social-item.flex.row.end
            a href="tel:+56989029333"
              i.fas.fa-phone
              | +56 9 89029333
          li.cm-social-item
            a href="#"
              i.fab.fa-facebook-f
          li.cm-social-item
            a href="#"
              i.fab.fa-twitter
          li.cm-social-item
            a href="#"
              i.fab.fa-instagram
        ul.cm-link-nav.flex.row.end
          li.cm-link-item.active
            a href="#"
              | Inicio
          li.cm-link-item 
            a href="#"
              | Servicios
          li.cm-link-item 
            a href="#" 
              | Requisitos
          li.cm-link-item 
            a href="#"
              | Catálogo
          li.cm-link-item 
            a href="#"
              | Contacto
    
    /! SLIDER 
    .cm-slider-wrapper
      ul.cm-list-slider
        /! SLIDER 1
        li.cm-item-slider.active
          .flex.col.start.cm-slider-content
            h2 Encuentra un lugar, invierte, despega
            .flex.row.start
              article.cm-banner-art
                .cm-banner-art-icon
                  img src="../assets/img/icon-documento.svg" alt="icon-1" title="icon-1"
                p
                  | Te apoyamos en tus trámites inmobiliarios
                  br
                  | Tasasiones | Asesorías legales | Biences raíces
              article.cm-banner-art
                .cm-banner-art-icon
                  img src="../assets/img/icon-home.svg" alt="icon-1" title="icon-1"
                p
                  | Te entregamos las llaves de tu próxima propiedad
                  br
                  | Compra | Venta | Arriendos
        /! SLIDER 2
        li.cm-item-slider
          .flex.col.start.cm-slider-content
            h2 Este es el segundo banner
            .flex.row.start
              article.cm-banner-art
                .cm-banner-art-icon
                  img src="../assets/img/icon-documento.svg" alt="icon-1" title="icon-1"
                p
                  | Te apoyamos en tus trámites inmobiliarios
                  br
                  | Tasasiones | Asesorías legales | Biences raíces
              article.cm-banner-art
                .cm-banner-art-icon
                  img src="../assets/img/icon-home.svg" alt="icon-1" title="icon-1"
                p
                  | Te entregamos las llaves de tu próxima propiedad
                  br
                  | Compra | Venta | Arriendos
        /! SLIDER 3
        li.cm-item-slider
          .flex.col.start.cm-slider-content
            h2 Este es el tercer banner
            .flex.row.start
              article.cm-banner-art
                .cm-banner-art-icon
                  img src="../assets/img/icon-documento.svg" alt="icon-1" title="icon-1"
                p
                  | Te apoyamos en tus trámites inmobiliarios
                  br
                  | Tasasiones | Asesorías legales | Biences raíces
              article.cm-banner-art
                .cm-banner-art-icon
                  img src="../assets/img/icon-home.svg" alt="icon-1" title="icon-1"
                p
                  | Te entregamos las llaves de tu próxima propiedad
                  br
                  | Compra | Venta | Arriendos
        ol.cm-slider-buttons.flex.row.center
          li.cm-slider-button.active
          li.cm-slider-button
          li.cm-slider-button
    
    /! UF BAND
    .cm-uf-band.flex.row.center Lunes 27 de Agosto de 2018, Valor UF: $29.238,94 CLP | $44.25 USD

    /! SERVICES
    section.cm-services
      h2.flex.center.row.cm-section-title Cimbra te ofrece
      .flex.center.row
        /! SERVICE 1
        article.flex.col.center.cm-serv-article
          img src="../assets/img/service-1.jpg" alt="service-1" title="service-1"
          h3.text-center Corretaje
          p.text-center Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          a href="#"
            img src="../assets/img/icon-agregar.svg" alt="agregar" title="agregar"
            | Seguir leyendo
        /! SERVICE 2
        article.flex.col.center.cm-serv-article
          img src="../assets/img/service-2.jpg" alt="service-2" title="service-2"
          h3.text-center Venta/Arriendo de propieades
          p.text-center Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          a href="#"
            img src="../assets/img/icon-agregar.svg" alt="agregar" title="agregar"
            | Seguir leyendo
        /! SERVICE 3
        article.flex.col.center.cm-serv-article
          img src="../assets/img/service-2.jpg" alt="service-2" title="service-2"
          h3.text-center Tasasión
          p.text-center Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          a href="#"
            img src="../assets/img/icon-agregar.svg" alt="agregar" title="agregar"
            | Seguir leyendo
    
    /! SHOWCASE PROPIERTIES
    section.cm-showcase
      .flex.row.start
        h2.flex.start.row.cm-section-title Propiedades destacadas
        a.button.normal href="#" Publica con nosotros
        a.button.highlight href="#" Ver catálogo completo


