//FONTS
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900');

body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  //ANTIALIASING TRICKS
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

//NAVBAR
nav.cm-main-nav{
  width: 100%;
  height: 100px;
  background-color: $black;
  padding: 0px 40px 0px 40px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  @include flex-row-center;
  justify-content: space-between;
  img {
    height: 56px;
    width: auto;
  }
  .cm-nav-wrapper{
    ul.cm-social-nav {
      @include clean-list;
      li.cm-social-item{
        height: 32px;
        color: $white;
        margin-right: 10px;
        &:last-of-type{
          margin-right: 0;
        }
        a {
          color: $white;
          text-decoration: none;
          font: {
            size: 14px;
            weight: 400;
          }
          @include flex-row-center;
          i {
            margin-right: 5px;
            @include flex-col-center;
            height: 32px;
            width: 32px;
          }
        }
      }
    }
    ul.cm-link-nav{
      @include clean-list;
      margin-bottom: -21px;
      margin-top: 10px;
      li.cm-link-item {
        margin-right: 10px;
        border-bottom: 4px solid transparent;
        &:last-of-type{
          margin-right: 0px;
        }
        a {
          color: $white;
          text-decoration: none;
          height: 32px;
          @include flex-row-center;
          box-sizing: border-box;
          font: {
            size: 14px;
            weight: 400;
          }
        }
        &.active {
          border-bottom: 4px solid $color-1;
        }
      }
    }
  }
}

//SLIDER

.cm-slider-wrapper {
  height: 600px;
  width: 100%;
  @media #{$sm}{
    height: 60vh;
  }
  ul.cm-list-slider {
    height: 100%;
    width: 100%;
    @include clean-list;
    position: relative;
    background: pink;
    li.cm-item-slider {
      top: 0px;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0;
      @include flex-col-center;
      @include animate;
      &.active {
        z-index: 0;
        opacity: 1;
      }
      &:nth-of-type(1){
        background-color: goldenrod;
      }
      &:nth-of-type(2){
        background-color: violet;
      }
      &:nth-of-type(3){
        background-color: yellowgreen;
      }
    }
    ol.cm-slider-buttons{
      @include clean-list;
      position: absolute;
      bottom: 20px;
      left: calc(50% - 40px);
      li.cm-slider-button {
        display: inline-block;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        background-color: $white;
        margin-right: 10px;
        &:last-of-type{
          margin-right: 0px;
        }
        &.active {
          background-color: $black;
        }
      }
    }
  }
}